$bgc:rgb(50, 52, 54);
$fontColor:rgb(250, 250, 250);
@keyframes animationLeft {
    0% {
        right: -300px;
    }
    100% {
        right: 0;
    }
}

.styleedit_conponent {
    width: 300px;
    height: 100%;
    background-color: $bgc;
    animation: animationLeft 0.5s;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    .styleedit_main {
        overflow: auto;
        padding: 12px;
        .ant-form {
            padding: 10px;
            .ant-form-item-label>label {
                color: $fontColor;
                font-size: 12px;
                font-weight: 600;
            }
        }
    }
    .styleedit_header {
        height: auto;
        border-bottom: 1px solid rgb(200, 200, 200);
        display: flex;
        justify-content: space-between;
        padding: 12px 18px;
        span {
            color: $fontColor;
            display: block;
            line-height: 20px;
            transition: 0.3s all;
            &:nth-child(1) {
                font-size: 20px;
                font-weight: bold;
            }
            &:nth-child(2) {
                &:hover {
                    cursor: pointer;
                    .anticon {
                        color: rgba(240, 240, 240, 0.8);
                    }
                }
            }
        }
    }
}