.status-loading {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    animation: loading 3.5s;
    img {
        position: fixed;
        z-index: 9999;
        top: calc(50% - 80px);
        left: calc(8% - 100px);
        width: 80px;
        height: 80px;
    }
    @keyframes loading {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .loading {
        position: fixed;
        z-index: 9999;
        left: 8%;
        top: 20%;
        height: 500px;
        width: 30px;
        border-radius: 20px;
        background-color: rgba(222, 226, 234, 0.8);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.5);
        span {
            display: block;
            width: 100%;
            background: rgb(49, 120, 198);
            @keyframes default {
                0% {
                    height: 0;
                }
                100% {
                    height: 100%;
                }
            }
            @keyframes black {
                0% {
                    height: 100%;
                }
                100% {
                    height: 0;
                }
            }
        }
    }
}

.main {
    padding: 0 !important;
    @keyframes change {
        0% {
            margin-left: -350px;
        }
        100% {
            margin-left: 0;
        }
    }
    display: flex;
    .main-menu {
        width: 320px;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-right: 1px solid rgba(210, 210, 210, 0.5);
        .menu-header {
            height: 150px;
            padding: 24px;
            display: flex;
            flex-direction: column;
            color: rgb(31, 38, 51);
            animation: change 1.2s;
            span {
                display: flex;
                align-items: center;
                line-height: 35px;
                font-size: 36px;
                font-weight: bold;
                .header-icon {
                    font-size: 30px;
                    margin-right: 4px;
                }
                .header-btn {
                    margin-left: auto;
                    margin-top: auto;
                    transform: scale(1.6);
                    color: rgb(180, 180, 180);
                    &:hover {
                        cursor: pointer;
                    }
                }
                &:nth-child(1) {
                    letter-spacing: -2px;
                }
                &:nth-child(2) {
                    line-height: 16px;
                    font-size: 12px;
                    letter-spacing: 1px;
                }
                &:nth-child(3) {
                    margin-top: 8px;
                    font-size: 8px;
                    line-height: 10px;
                    padding: 4px;
                    width: 30px;
                    border-radius: 5px;
                    color: rgb(100, 100, 100);
                    font-weight: normal;
                    background-color: rgb(200, 200, 200);
                }
            }
        }
    }
    .main-container {
        position: relative;
        flex-grow: 1;
        overflow-y: auto;
        .router-page {
            margin-top: 90px;
            height: calc(100% - 90px);
            // overflow: auto;
            background-color: rgb(255, 255, 255);
        }
        .banner-header {
            background-color: #fff;
            height: 90px;
            position: absolute;
            z-index: 1;
            top: 0;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0 24px;
            .change-moudel {
                display: flex;
                align-items: center;
                margin-right: 48px;
                span {
                    display: block;
                    width: 40px;
                    text-align: center;
                    line-height: 35px;
                    height: 35px;
                    border-radius: 4px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .nav-list {
                margin: 0;
                margin-left: auto;
                display: flex;
                li {
                    font-size: 14px;
                    margin-right: 24px;
                    &:hover {
                        cursor: pointer;
                        font-weight: bold;
                        color: black;
                        border-bottom: 2px solid black;
                    }
                    &:nth-last-child(1) {
                        &:hover {
                            cursor: pointer;
                            font-weight: normal;
                            border: 0 !important;
                        }
                        .anticon {
                            font-size: 20px;
                            color: rgb(100, 100, 100);
                        }
                    }
                }
            }
        }
    }
}